<%= form_with url: "/citizens", local: true, method: :get do |form| %>

  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text">Full Name, CPF or Address</span>
    <%= form.text_field :query, class: 'form-control', minlength: '4' %>
  </div>

  <div class="actions">
    <%= form.submit 'Find' %>
  </div>
<% end %>
